.add-bor-card {
  width: 135%;
  height: 60vh;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 30px;
  gap: 20px;
  background-color: rgb(255, 255, 255);
  /* margin-right: 120px; */
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}
.add-bor-card input {
  width: 270px;

  padding-left: 10px;
  height: 35px;
  border-radius: 7px;
  border: 2px solid rgb(57, 80, 118);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* box-shadow: 4px 4px 7px 0.5px rgb(207, 206, 206); */
}

.bor-btn {
  width: 270px;
  color: white;
  background-color: rgb(63, 73, 99);
}
